:root{
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --black-bg-lightbox: rgba(0, 0, 0, 0.75); /*(with 75% opacity for lightbox background)*/
    --paragraph: 16px;
}

html{
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: var(--paragraph);
}

*, *:after, *:before{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

#bold{
    font-weight: bold;
}

button{
    background-color: transparent;
    border: none;
    padding: 0;
}

button:hover{
    cursor: pointer;
}

#hidden{
    max-width: 375px;
    overflow: hidden;
    margin: 0 auto;
}
.contenedor-principal{
    
    max-width: 375px;
    margin: 0 auto;
}

/********** HEADER ***********/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: relative;
    
}

header #boton-logo{
    display: flex;
    align-items: center;

}

#open-menu{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#logo{
    width: 150px;
    height: 25px;
}

#usuario-carrito{
    position: relative;
}
sup{
    position: absolute;
    text-align: center;
    line-height: 1;
    width: 18px;
    height: 15px;
    border-radius: 5px;
    top: -5px;
    left: 25px;
    font-weight: bold;
    color: var(--white);
    font-size: 14px;
    background-color: var(--orange);
    display: none;
}

#carrito,
#usuario-avatar{
    height: 25px;
    margin: 0 10px;
    width: 25px;
}

button#carrito:hover{
    transition: transform 1s;
    transform: scale(1.3, 1.3);
}

button#usuario-avatar:hover{
    transition: transform 1s;
    transform: scale(1.3, 1.3);
    border: var(--orange) solid 2px;
    border-radius: 15px;
}

#open-menu img,
#logo img,
#carrito img,
#usuario-avatar img,
#boton-cerrar-menu img,
#imgs-big-product img
{
    width: 100%;
}

#contenedor-nav{
    position: absolute;
    top: 0;
    left: 0;
}

.bg-nav{
    width: 375px;
    height: 100vh;
    background-color: var(--black-bg-lightbox);
    z-index: 2;
}

#navegacion{
    position: inherit;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: var(--light-grayish-blue);
    padding: 20px;
    z-index: 100;
}

.abriendo-menu{
    transition: transform 1s;
    transform: translateX(249px);
}

.cerrando-menu{
    transition: transform 1s;
    transform: translateX(-250px);
}

#boton-cerrar-menu{
    width: 15px;
    height: 15px;
}

ul{
    padding: 0;
}

#navegacion a{
    color: var(--very-dark-blue);
    font-weight: bold;
    line-height: 2;
}

#cuerpo{
    position: relative;
}

/********* SECTION ***********/

#section{
    position: relative;
    overflow: hidden;
}

#button-previous,
#button-next{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--white);
    border-radius: 20px;
    z-index: 1;
    top: 150px;
}

#button-previous{
    left: 15px;
}
#button-next{
    right: 15px;
}

#imgs-big-product{
    position: inherit;
    width: 100%;
    height: 375px;
}

#imgs-big-product img{
    position: absolute;
}

#imgs-small-product{
    display: none;
}

#galeria-emergente{
    display: none;
}

/********** MAIN ***********/

#main{
    padding: 15px;
    margin-bottom: 20px;
}

h1{
    font-size: 12px;
    text-transform: uppercase;
    color: var(--orange);
}

h2{
    font-size: 26px;
}

#description{
    color: var(--dark-grayish-blue);
}

#total-cost{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
}

#cost{
    font-size: 26px;
    font-weight: bold;
    margin: 0;
}

#discount{
    background-color: var(--pale-orange);
    width: 50px;
    height: 30px;
    line-height: 2;
    text-align: center;
    font-weight: bold;
    color: var(--orange);
    border-radius: 10px;
    margin: 0;
}

#inabled{
    color: var(--grayish-blue);
    font-weight: bold;
    text-decoration: line-through;
    margin: 0;
    text-align: end;
}

#formulario{
    margin: 25px 0;
}

#agregando-productos{
    display: flex;
    justify-content: space-around;
    background-color: var(--light-grayish-blue);
    border-radius: 10px;
}

#cart,
#checkout{
    background-color: var(--orange);
    width: 100%;
    height: 50px;
    margin: 20px 0;
    border-radius: 10px;
    color: var(--dark-grayish-blue);
    font-weight: bold;
    cursor: pointer;
}

#cart::before{
    content: url(../images/icon-cart.svg);
    color: var(--white);
    padding-right: 10px;
}

button#cart:hover{
    transition: transform 1s;
    transform: scale(1.1, 1.1);
}

/******** CAJA EMERGENTE *********/

#box-cart{
    position: absolute;
    width: 360px;
    height: auto;
    z-index: 1;
    background-color: var(--light-grayish-blue);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 7px 20px var(--black-bg-lightbox);
    top: 10px;
    left: 8px;
    display: none;
}

h3{
    font-size: 16px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--grayish-blue);
}

#box-cart--content{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    column-gap: 10px;
    align-items: center;
}

#box-cart--texto-producto p{
    font-size: 15px;
    color: var(--dark-grayish-blue);
}

#box-cart--texto-producto{
    grid-column: 2/3;
}

#box-card--imagen-miniatura{
    display: none;
}

#box-card--imagen-miniatura img{
    width: 100%;
    border-radius: 10px;
}

#crash{
    display: none;
}

#checkout{
    display: none;
}

/******** FOOTER *********/

.attribution{
    border-top: 1px solid var(--dark-grayish-blue);
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    line-height: 1.5;
}

.attribution a{
    color: var(--very-dark-blue);
    text-decoration: underline;
}

@media(min-width: 768px){
    #hidden{
        max-width: 768px;
    }
    .contenedor-principal{
        max-width: 760px;
        margin: 0 auto;
    }
    header{
        display: flex;
        padding: 20px;
        border-bottom: 1px solid var(--grayish-blue);
        margin-bottom: 30px;
    }
    

    .bg-nav{
        width: 0;
        height: 0;
        background-color: transparent;
    }
    #navegacion{
        top: 0;
        left: 210px;
        width: 430px;
        height: 50px;
        background-color: transparent;
        padding: 0px 10px;
    }
    .abriendo-menu{
        transition: transform 1s;
        transform: translateX(0px);
    }
    
    .cerrando-menu{
        transition: transform 1s;
        transform: translateX(0px);
    }
    #boton-cerrar-menu,
    #open-menu{
        display: none;
    }
    #navegacion ul{
        display: flex;
        justify-content: space-between;
    }

    #cuerpo{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        width: 600px;
        margin: 40px auto;
        gap: 20px;
    }
    
    /** SECTION **/

    #section{
        display: grid;
        grid-template-columns: 1fr 4fr;
        width: 550px;
        align-items: start;
    }

    #imgs-big-product{
        position: static;
        grid-column: 2/3;
        margin: 0 auto;
    }
    #imgs-big-product img{
        width: 75%;
        border-radius: 20px;
    }

    #imagen2,
    #imagen3,
    #imagen4{
        opacity: 0;
    }

    #imgs-small-product{
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 10px;
        justify-items: center;
        align-items: center;
    }

    #imgs-small-product img{
        width: 88%;
        border-radius: 10px;
    }
    #imgs-small-product img:hover{
        cursor: pointer;
        opacity: .7;
        border: 2px solid var(--orange);
    }

    #button-previous,
    #button-next,
    #galeria-emergente__button-previous,
    #galeria-emergente__button-next{
        display: none;
    }

    /******** MAIN ********/

    #main{
        padding: 0px;
        margin-bottom: 0px;
    }
    #discount{
        margin-left: 10px;
    }

    #formulario{
        display: grid;
        grid-template-columns: 90px 140px;
        column-gap: 20px;
        align-items: center;
    }

    #agregando-productos{
        height: 50px;
    }

    /********** VENTANA EMERGENTE *********/
    
    #box-cart{
        top: -20px;
        left: 290px;
    }

    /********* FOOTER *********/

    
    
}


@media(min-width: 1200px){
    #hidden{
        max-width: 1200px;
    }
    .contenedor-principal{
        max-width: 1100px;
    }
    #cuerpo{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        width: 900px;
        margin: 40px auto;
        column-gap: 20px;
    }
    /******** SECTION *********/

    #section{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 410px 150px;
        width: 450px;
        align-items: start;
        margin: 0 auto;
        gap: 20px;
    }
    #imgs-big-product{
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 0 auto;
        width: 400px;
        height: 400px;
    }
    #imgs-big-product img{
        width: 90%;
    }
    #imgs-small-product{
        grid-column: 1/2;
        grid-row: 2/3;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, 1fr);
    }

    #galeria-emergente{
        z-index: 1;
        display: none;
        grid-template-columns: 1fr 4fr;
        width: 600px;
        height: 600px;
        align-items: start;
        position: absolute;
        top: 100px;
        left: 0px;
        background-color: var(--black-bg-lightbox);
    }

    /*#galeria-emergente__button-previous,
    #galeria-emergente__button-next{
        width: 30px;
        height: 30px;
        background-color: var(--white);
        border-radius: 20px;
        z-index: 1;
        top: 150px;
        display: flex;
        position: absolute;
    }*/

    /******* MAIN ********/

    h2{
        width: 300px;
    }

    #description{
        line-height: 1.5;
    }
    
    #total-cost{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-items: start;
        width: 200px;
    }
    #inabled{
        text-align: start;
        line-height: 2;
    }
    #formulario{
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
        align-items: center;
    }

    /********** VENTANA EMERGENTE *********/
    
    #box-cart{
        top: -50px;
        left: 620px;
    }

    
}

@media(min-width: 1400px){
    .attribution{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}